<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <meta property="og:title" content="Land and Property Data proof of concept">
    <meta property="og:locale" content="en_GB">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}?v=1">
  </head>
  <body>
    
    <div class="container-lg px-3 my-5 markdown-body">
      <h1><a href="/">Is it in Wales?</a></h1>
      {% block content %}{% endblock %}
    </div>
    <footer>
      <p>This is a demonstration service built to test the proof of concept <a href="https://land-property-platform.herokuapp.com">Land and property platform</a>.</p>
      <p>
        it is not yet linked up to the API. Use the following values to see the different result:
        <ul>
          <li>
            In Wales: <a href="/result?uprn=12345">12345</a>
          </li>
          <li>
            Partially in Wales: <a href="/result?uprn=54321">54321</a>
          </li>
          <li>
            Not found: <a href="/result?uprn=78910">78910</a>
          </li>
          <li>
            Not in Wales: <a href="/result?uprn=10987">10987</a>
          </li>
        </ul>
      </p>
    </footer>
  </body>
</html>
